.heading{
  color: mediumseagreen;
  margin-top: 100px;
  text-align: center;
}
.inputbar{
  display: flex;
  justify-content: center;
  gap:20px
}
.filterbar{
  display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}
.filterbutton{
  display:flex;
  gap:5px
}

input{
  height: 20px;
    width: 242px;
    border-radius: 7px;
    border-color: mediumseagreen;
   border-width: 1px
   ;

}

button{
  height: 26px;
  width: 132px;
  background-color: #5dab5d;
    border-radius: 7px;
}

select{
  width:45px;
}